---
import LayoutNotFound from '../layouts/LayoutNotFound.astro'
---

<LayoutNotFound title="AD | Error 404">
  <article class="my-5">
    <section class="flex justify-center">

    </section>

    <section class="mx-auto w-[300px] md:w-[400px]">
      <h2 class="text-3xl text-center text-sky-500 font-bold">Error 404</h2>
      <p class="text-lg text-center">
        No se ha encontrado la página que buscas, por favor vuelve al{' '}
        <a href="/" class="text-sky-500 hover:underline">inicio</a>.
      </p>
    </section>
  </article>
</LayoutNotFound>