---
import Layout from '../layouts/Layout.astro'
import PostAbout from '../components/PostAbout.astro'
import PostTechnologys from '../components/PostTechnologys.astro'
---

<Layout title="AD | Angel De La Torre">
  <PostAbout
    avatar="/img/user.JPG"
    user="Angel De La Torre"
    username="@iangelmanuel"
    date="sept 13, 2023"
  >
    <div class="w-full text-[14px] mt-1">
      <h6 class="text-sm text-sky-500 font-bold mb-1">Bienvenido a mi portafolio web</h6>
      <p>
        Mi enfoque principal en el mundo del desarrollo web es brindar soluciones creativas y funcionales a través de tecnologías de vanguardia.
      </p>
    </div>

    <div class="w-full text-[14px] mt-4">
      <h5 class="text-sm text-sky-500 font-bold mb-1">¿Qué puedo hacer por ti?</h5>
      <p>
        Puedo ayudarte a crear tu sitio web, ya sea un blog, una tienda en línea, un sitio web para tu negocio o cualquier otra cosa que se te ocurra.
      </p>
    </div>
  </PostAbout>

  <PostAbout
    avatar="/img/user.JPG"
    user="Angel De La Torre"
    username="@iangelmanuel"
    date="sept 13, 2023"
    image="/img/about.jpg"
  >
    <PostTechnologys />
  </PostAbout>
</Layout>
