---
import FooterIcons from './FooterIcons.astro'
---

<article class="relative bottom-0 left-0">
  <section class="w-full flex p-5">
    <div class="mx-auto flex gap-10">
      <FooterIcons />
    </div>
  </section>
  
  <section class="flex justify-center p-2">
    <p class="text-xs text-center text-[] font-bold ">Angel De La Torre &copy; {new Date().getFullYear()}</p>
  </section>
</article>
