---
import FooterIcons from './FooterIcons.astro'
---

<footer class="relative bottom-0 left-0">
  <article class="w-full flex border-t-2 bg-[#00020d] border-zinc-900 p-5">
    <section class="mx-auto flex gap-10">
      <FooterIcons />
    </section>
  </article>
  
  <article class="flex justify-center border-t-2 border-b-2 bg-[#00020d] border-zinc-900 p-2">
    <p class="text-base text-center text-sky-500 font-bold ">Angel De La Torre {new Date().getFullYear()} &copy;</p>
  </article>
</footer>
