---
import IconBar from './IconBar.astro'
import NavItems from './NavItems'
import HeaderSvg from './HeaderSvg.astro'
import VerifySvg from './VerifySvg.astro'
---

<article class="w-full">
  <section class="w-full flex justify-start items-center fixed top-0 left-0 py-2 px-3 md:px-20 bg-[#00020d] border-b-2 border-zinc-900 z-10">
    <IconBar />
  </section>

  <section class="w-full">
    <div>
      <img
        src="/img/hero.jpeg"
        alt="hero image"
        class="w-full h-[150px] md:h-[200px] object-cover object-center"
      />
    </div>

    <div id="#top" class="relative -top-14 md:-top-16 left-2 md:left-5">
      <img
        src="./img/user.JPG"
        alt="user iangelmanuel"
        class="w-24 h-24 md:w-32 md:h-32 aspect-[3/1] rounded-full object-cover bg-surface-4"
      >
    </div>

    <div class="flex justify-between relative -top-10 left-5">
      <section>
        <div class="flex gap-1 items-center">
          <h2 class="text-2xl font-bold">Angel De La Torre</h2>
          <VerifySvg />
        </div>
        <small class="text-zinc-500 text-sm">
          <a
            href="https://twitter.com/iangelmanuel"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:underline"
          >@iangelmanuel</a>
        </small>
      </section>

      <section class="flex items-start mr-7 md:mr-10">
        <a
          href="linkedin.com/in/angel-manuel-de-la-torre-montaño-67485923b"
          target="_blank"
          rel="noopener noreferrer"
          class="
          text-sm text-zinc-200 border border-zinc-200 transition-all hover:border-sky-500 hover:bg-sky-500 hover:text-white px-4 py-2 rounded-full
          "
        >
          LinkedIn
        </a>
      </section>
    </div>

    <div class="w-[300px] md:w-[400px] relative -top-7 left-5">
      <p class="text-zinc-400 text-sm">
        Apasionado desarrollador con objetivo de crear experiencias web excepcionales que combinen diseño atractivo con funcionalidad sólida. Con un enfoque en la innovación y la resolución de problemas, estoy constantemente buscando formas de mejorar y perfeccionar mis habilidades.
      </p>
    </div>

    <div class="relative -top-3 left-5 text-zinc-400">
      <HeaderSvg />
    </div>

    <div class="relative mt-2 pb-3">
      <ul class="flex justify-evenly">
        <NavItems client:only />
      </ul>
    </div>
  </section>
</article>
