<div>
  <a href="/">
    <img
      src="/img/logo-ad.png"
      alt="logo AD"
      class="w-10 h-10 md:w-12 md:h-12 object-cover object-center"
    >
  </a>
</div>

<div>
  <a href="https://github.com/iAngelManuel" target="_blank" rel="noopener noreferrer">
    <img
      src="/img/github-mark.svg"
      alt="logo AD"
      class="w-10 h-10 object-cover object-center"
    >
  </a>
</div>