---
interface Props {
  name: string
  path: string
}

const { name, path } = Astro.props
const actuallyPath = Astro.url.pathname
const isTheSamePath = actuallyPath === path
---

<ul>
  <a href={path} class:list={[
    "font-bold",
    {
      "border-b-4 border-sky-500": isTheSamePath,
      "text-gray-500": !isTheSamePath
    }
  ]}>
    {name}
  </a>
</ul>
