<div class="w-full text-[14px] mt-1 space-y-5">
  <h6 class="text-sm text-sky-500 font-bold mb-1">Las tecnologías que domino:</h6>
  <p>
    <span class="text-sky-500 font-bold">React y Next.js:</span> Mi experiencia en React y Next.js me permite crear interfaces de usuario dinámicas y atractivas que proporcionan una experiencia excepcional al usuario.
  </p>
  <p>
    <span class="text-sky-500 font-bold">TypeScript y JavaScript:</span> Utilizo TypeScript y JavaScript para desarrollar aplicaciones web altamente funcionales y receptivas, aprovechando al máximo la potencia de estos lenguajes.
  </p>
  <p>
    <span class="text-sky-500 font-bold">Node.js:</span> En el lado del servidor, confío en Node.js para construir servidores robustos y escalables que respalden la lógica de negocio de las aplicaciones.
  </p>
  <p>
    <span class="text-sky-500 font-bold">MongoDB:</span> Mi experiencia en MongoDB me permite diseñar y administrar bases de datos eficientes para garantizar que los datos se almacenen y recuperen de manera confiable.
  </p>
</div>
