---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<Header />
		</header>

		<main>
			<slot />
		</main>

		<footer>
			<Footer />
		</footer>
	</body>
</html>

<style>
	html {
		font-family: system-ui, sans-serif;
		line-height: 1.5;
		background-color: #00020d;
		color: #fff;
	}
</style>